<div class="form-group">
    <%= f.collection_check_boxes :category_ids, Category.all, :id, :name, { selected: f.object.category_ids }, class: "form-control" %>
</div>
<div class="form-group">
    <%= f.fields_for :categories, @restaurant.categories.build do |categories_fields| %>
        <%= categories_fields.text_field :name %>
    <% end %>
</div> 