<div class="form-group">
    <%= f.label :location_ids, "City" %>
    <%= f.collection_select(:location_ids, Location.all, :id, :name, { selected: f.object.location_ids }, class: "form-control") %>
</div>