<div class="container">
    <h1>Restaurants!</h1>
    <div class="card-deck">
        <% @restaurants.each do |restaurant| %>
            <div class="card">
                <%= image_tag restaurant.restaurant_img.url(:thumb), class: "card-img-top" %>
                <div class="card-body">
                    <h5 class="card-title"><%= link_to restaurant.name, restaurant_path(restaurant) %></h5>
                    <p class="card-text"> This should probably be information </p>
                </div>
                <div class="card-footer">
                    <small class="text-muted">Some small information</small>
                </div>
            </div>
        <% end %>
    </div>
</div>