<div class="container">
    <h2>Choose your destination:</h2>
    <div class="dropdown show">
        <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Where are you going?
        </a>

        <div class="dropdown-menu justify-content-center" aria-labelledby="dropdownMenuLink">
            <% @locations.each do |location| %>
                <%= link_to location.name, location_path(location), class: "dropdown-item" %>
            <% end %>
        </div>
    </div>
</div>

