<div class="jumbotron jumbotron-fluid restaurant-show-image" style="background-image: url('<%= @location.location_img.url %>');">
    <div class="container-fluid">
        <h1 class="display-4 text-light"> <%= @location.name %> </h1>
    </div>
</div>

<div class="container-fluid">
    <div class="card-deck">
        <% @location.restaurants.each do |restaurant| %>
            <%= render 'restaurant', restaurant: restaurant %>
        <% end %>
    </div>
</div>

