<div class="jumbotron jumbotron-fluid">
    <div class="container-fluid">
        <h1 class="display-4"> <%= @location.name %> </h1>
        <p class="lead">This needs a different background</p>
    </div>
</div>
<div class="container-fluid">
    <div class="card-deck">
        <% @location.restaurants.each do |restaurant| %>
            <%= render 'restaurant', restaurant: restaurant %>
        <% end %>
    </div>
</div>

